body {
	background-color: #F7F9FC;
	color: #575F7D;
	font-family: 'Lora' serif;
	font-size: 16px;
	font-weight: lighter;
	text-align: center;
}

#photopro{
	border-radius: 50%;
	width: 130px;
}

.button-blue{
	font-family: 'Lora', serif;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #4c67c1;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 16px;
    padding: 0px 0px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    margin: 0;
    text-decoration: none;
	margin-top: 10px;"
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	color:#575F7D ;
	font-size: 32px;
	font-weight: 900;
}

h2 {
	color:#7ECE90 ;
	font-size: 20px;
	font-weight: 500;
}

a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight:600;
	font-size: 16px;

}
a:hover {
	color: black;
}